// Помощники
@import 'utils/parameters';// переменные
@import 'utils/mixins';//миксины scss

.items {
    padding: 5rem 0;
    
    
    &__row {
        margin: -2.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        
    }

}
.item {
    width: 33.3333%;
    padding: 0 2.5rem;
    

    img {}

    &__title {
        margin: 2.9rem 0;
        font-weight: bold;
        font-size: 2.5rem;
        line-height: 130%;
        letter-spacing: 0.2px;
        color: $c-text
        
    }
    &__description {
        font-style: normal;
        font-weight: normal;
        font-size: 1.6rem;
        line-height: 150%;
        color: $c-text2;
    }
}

@media  screen and (max-width: $sm) {
    .items {
        padding: 2rem 0;
        &__row {
            flex-wrap: wrap;
        }
    }
    .item {
        width: 50%;
        padding: 2rem 2rem;
    }

}
@media  screen and (max-width: $xs) {
    .items {
        padding: 0;
        &__row {
            flex-wrap: wrap;
            align-items: baseline;
        }
    }
    .item {
        width: 50%;
        padding: 2rem 2rem;
    }

}