section.first-section
    .container
        .first-section__content
            h1.first-section__tytle
                span.blue Order ahead
                |  and earn rewards for every purchase
                span.orange .
                a(href="#").first-section__button
                    span Discover how
                    img(src="./assets/imgs/next.svg", alt="next")
        .first-section__pic 
            img(src="./assets/imgs/main.png", alt="pic")

        