header.header 
    .container
        .header__row
                a(href="index.html").logo
                    img(src="./assets/imgs/logo.svg", alt=logo).logo__img
                .header__links
                    a(href="#").header-link Stores
                    a(href="#").header-link Help & Support
                    a(href="#").header-link.header-link--inverse Download
