section.third-section 
    .container 
        .third-section__row
            .third-section__imgs-col
                .pics 
                    img(src="./assets/imgs/phone.png", alt="phone").pics__phone
                    img(src="./assets/imgs/glass.png", alt="glass").pics__glass
                    img(src="./assets/imgs/chips.png", alt="chips").pics__chips
            .third-section__text 
                p.first-text Your daily pick-me-up
                h2.title How does it work 
                p.second-text Start choosing your favorite teas and snacks in your nearby stores and place your orders, accumulate points, share gifts and teas with your friends and co-workers, and finally use our T-Pass to get your free drinks.