// переменные 
//GRID
//точки адаптива
$lg: 1310px;
$md: 1024px;
$sm: 768px;
$xs: 576px;


//Цвета макета
$c-primary: #00CCCC;//основной цвет макета
$c-secondary: #F5F6F7;//дополнительный цвет макета
$c-text: #0F2336;//основной цвет текста макета
$c-text2: #576D81;//дополнительный цвет текста макета


// Рандомные переменные проекта


// Размер шрифта
$font-size-base: 10px;


// Шрифты
$body-font: 'Roboto', sans-serif;//основной
$headers-font: 'Roboto', sans-serif;//для заголовков
$secondary-font: 'Roboto', sans-serif;//дополнительный
